{% extends 'base.html.twig' %}

{% block title %}Hiked - Mentions légales{% endblock %}

{% block body %}
<p>1. Pr&eacute;sentation du site<br />
&nbsp;</p>

<p>En vertu de l&rsquo;article 6 de la loi n&deg; 2004-575 du 21 juin 2004 pour la confiance dans l&rsquo;&eacute;conomie num&eacute;rique, il est pr&eacute;cis&eacute; aux utilisateurs du site Hiked l&rsquo;identit&eacute; des diff&eacute;rents intervenants dans le cadre de sa r&eacute;alisation et de son suivi :</p>

<p>Propri&eacute;taire : HIKED</p>

<p>Statut du propri&eacute;taire : SARL</p>

<p>Nom de la soci&eacute;t&eacute; : SARL HIKED</p>

<p>Pr&eacute;fixe : SARL</p>

<p>Adresse : 3 rue Jean Vilar, 11200 L&eacute;zignan Corbi&egrave;res</p>

<p>T&eacute;l&eacute;phone : 04 11 93 04 43</p>

<p>Mail : comm@hiked.fr</p>

<p>Num&eacute;ro SIRET : ...<br />
Num&eacute;ro immatriculation RCS : ...<br />
Num&eacute;ro identification TVA : ...<br />
Cr&eacute;ateur : Hiked<br />
Responsable publication : SARL Hiked, 3 rue jean vilar 11200 L&eacute;zignan Corbi&egrave;res</p>

<p>Contacter le responsable de publication : 04 11 93 04 43 &ndash; comm@hiked.fr<br />
H&eacute;bergeur : SARL Hiked, 3 rue jean vilar 11200 L&eacute;zignan Corbi&egrave;res</p>

<p>2. Conditions g&eacute;n&eacute;rales d&rsquo;utilisation du site et des services propos&eacute;s<br />
&nbsp;</p>

<p>L&rsquo;utilisation du site Hiked implique l&rsquo;acceptation pleine et enti&egrave;re des conditions g&eacute;n&eacute;rales d&rsquo;utilisation ci-apr&egrave;s d&eacute;crites. Ces conditions d&rsquo;utilisation sont susceptibles d&rsquo;&ecirc;tre modifi&eacute;es ou compl&eacute;t&eacute;es &agrave; tout moment, les utilisateurs du site Hiked sont donc invit&eacute;s &agrave; les consulter de mani&egrave;re r&eacute;guli&egrave;re.</p>

<p>Ce site est normalement accessible &agrave; tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut &ecirc;tre toutefois d&eacute;cid&eacute;e par Hiked Communication, qui s&rsquo;efforcera alors de communiquer pr&eacute;alablement aux utilisateurs les dates et heures de l&rsquo;intervention.</p>

<p>Le site Hiked est mis &agrave; jour r&eacute;guli&egrave;rement par Hiked. De la m&ecirc;me fa&ccedil;on, les mentions l&eacute;gales peuvent &ecirc;tre modifi&eacute;es &agrave; tout moment : elles s&rsquo;imposent n&eacute;anmoins &agrave; l&rsquo;utilisateur qui est invit&eacute; &agrave; s&rsquo;y r&eacute;f&eacute;rer le plus souvent possible afin d&rsquo;en prendre connaissance.</p>

<p>&nbsp;</p>

<p>3. Description des services fournis<br />
&nbsp;</p>

<p>Le site Hiked a pour objet de fournir une information concernant l&rsquo;ensemble des activit&eacute;s de la soci&eacute;t&eacute;.</p>

<p>Hiked s&rsquo;efforce de fournir sur le site des informations aussi pr&eacute;cises que possible. Toutefois, il ne pourra &ecirc;tre tenu responsable des omissions, des inexactitudes et des carences dans la mise &agrave; jour, qu&rsquo;elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

<p>Toutes les informations indiqu&eacute;es sur le site Hiked sont donn&eacute;es &agrave; titre indicatif, et sont susceptibles d&rsquo;&eacute;voluer. Par ailleurs, les renseignements figurant sur le site ne sont pas exhaustifs. Ils sont donn&eacute;s sous r&eacute;serve de modifications ayant &eacute;t&eacute; apport&eacute;es depuis leur mise en ligne.</p>

<p>&nbsp;</p>

<p>4. Limitations contractuelles sur les donn&eacute;es techniques<br />
&nbsp;</p>

<p>Le site utilise la technologie JavaScript.</p>

<p>Le site Internet ne pourra &ecirc;tre tenu responsable de dommages mat&eacute;riels li&eacute;s &agrave; l&rsquo;utilisation du site. De plus, l&rsquo;utilisateur du site s&rsquo;engage &agrave; acc&eacute;der au site en utilisant un mat&eacute;riel r&eacute;cent, ne contenant pas de virus et avec un navigateur de derni&egrave;re g&eacute;n&eacute;ration mis-&agrave;-jour</p>

<p>&nbsp;</p>

<p>5. Propri&eacute;t&eacute; intellectuelle et contrefa&ccedil;ons<br />
&nbsp;</p>

<p>Hiked est propri&eacute;taire des droits de propri&eacute;t&eacute; intellectuelle ou d&eacute;tient les droits d&rsquo;usage sur tous les &eacute;l&eacute;ments accessibles sur le site, notamment les textes, images, graphismes, logo, ic&ocirc;nes, sons, logiciels.</p>

<p>Toute reproduction, repr&eacute;sentation, modification, publication, adaptation totale ou partielle des &eacute;l&eacute;ments du site, quel que soit le moyen ou le proc&eacute;d&eacute; utilis&eacute;, est interdite, sauf autorisation &eacute;crite pr&eacute;alable de : Hiked &ndash; comm@hiked.fr</p>

<p>Toute exploitation non autoris&eacute;e du site ou de l&rsquo;un quelconque des &eacute;l&eacute;ments qu&rsquo;il contient sera consid&eacute;r&eacute;e comme constitutive d&rsquo;une contrefa&ccedil;on et poursuivie conform&eacute;ment aux dispositions des articles L.335-2 et suivants du Code de Propri&eacute;t&eacute; Intellectuelle.</p>

<p>&nbsp;</p>

<p>6. Limitations de responsabilit&eacute;<br />
&nbsp;</p>

<p>Hiked ne pourra &ecirc;tre tenu responsable des dommages directs et indirects caus&eacute;s au mat&eacute;riel de l&rsquo;utilisateur, lors de l&rsquo;acc&egrave;s au site Hiked , et r&eacute;sultant soit de l&rsquo;utilisation d&rsquo;un mat&eacute;riel ne r&eacute;pondant pas aux sp&eacute;cifications indiqu&eacute;es au point 4, soit de l&rsquo;apparition d&rsquo;un bug ou d&rsquo;une incompatibilit&eacute;.</p>

<p>Hiked ne pourra &eacute;galement &ecirc;tre tenue responsable des dommages indirects (tels par exemple qu&rsquo;une perte de march&eacute; ou perte d&rsquo;une chance) cons&eacute;cutifs &agrave; l&rsquo;utilisation du site Hiked .</p>

<p>Des espaces interactifs (possibilit&eacute; de poser des questions dans l&rsquo;espace contact) sont &agrave; la disposition des utilisateurs. Hiked se r&eacute;serve le droit de supprimer, sans mise en demeure pr&eacute;alable, tout contenu d&eacute;pos&eacute; dans cet espace qui contreviendrait &agrave; la l&eacute;gislation applicable en France, en particulier aux dispositions relatives &agrave; la protection des donn&eacute;es. Le cas &eacute;ch&eacute;ant, Hiked se r&eacute;serve &eacute;galement la possibilit&eacute; de mettre en cause la responsabilit&eacute; civile et/ou p&eacute;nale de l&rsquo;utilisateur, notamment en cas de message &agrave; caract&egrave;re raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilis&eacute; (texte, photographie&hellip;).</p>

<p>&nbsp;</p>

<p>7. Gestion des donn&eacute;es personnelles<br />
&nbsp;</p>

<p>En France, les donn&eacute;es personnelles sont notamment prot&eacute;g&eacute;es par la loi n&deg; 78-87 du 6 janvier 1978, la loi n&deg; 2004-801 du 6 ao&ucirc;t 2004, l&rsquo;article L. 226-13 du Code p&eacute;nal et la Directive Europ&eacute;enne du 24 octobre 1995.</p>

<p>A l&rsquo;occasion de l&rsquo;utilisation du site Hiked , peuvent &ecirc;tre recueillies : l&rsquo;URL des liens par l&rsquo;interm&eacute;diaire desquels l&rsquo;utilisateur a acc&eacute;d&eacute; au site Hiked , le fournisseur d&rsquo;acc&egrave;s de l&rsquo;utilisateur, l&rsquo;adresse de protocole Internet (IP) de l&rsquo;utilisateur.</p>

<p>En tout &eacute;tat de cause Hiked ne collecte des informations personnelles relatives &agrave; l&rsquo;utilisateur que pour le besoin de certains services propos&eacute;s par le site Hiked . L&rsquo;utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu&rsquo;il proc&egrave;de par lui-m&ecirc;me &agrave; leur saisie. Il est alors pr&eacute;cis&eacute; &agrave; l&rsquo;utilisateur du site Hiked l&rsquo;obligation ou non de fournir ces informations.</p>

<p>Conform&eacute;ment aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative &agrave; l&rsquo;informatique, aux fichiers et aux libert&eacute;s, tout utilisateur dispose d&rsquo;un droit d&rsquo;acc&egrave;s, de rectification et d&rsquo;opposition aux donn&eacute;es personnelles le concernant, en effectuant sa demande &eacute;crite et sign&eacute;e, accompagn&eacute;e d&rsquo;une copie du titre d&rsquo;identit&eacute; avec signature du titulaire de la pi&egrave;ce, en pr&eacute;cisant l&rsquo;adresse &agrave; laquelle la r&eacute;ponse doit &ecirc;tre envoy&eacute;e.</p>

<p>Aucune information personnelle de l&rsquo;utilisateur du site Hiked n&rsquo;est publi&eacute;e &agrave; l&rsquo;insu de l&rsquo;utilisateur, &eacute;chang&eacute;e, transf&eacute;r&eacute;e, c&eacute;d&eacute;e ou vendue sur un support quelconque &agrave; des tiers.</p>

<p>Le site n&rsquo;est pas d&eacute;clar&eacute; &agrave; la CNIL car il n&rsquo;exploite pas les donn&eacute;es personnelles. Les bases de donn&eacute;es sont prot&eacute;g&eacute;es par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative &agrave; la protection juridique des bases de donn&eacute;es.</p>

<p>8. Liens hypertextes et cookies<br />
&nbsp;</p>

<p>Le site Hiked contient un certain nombre de liens hypertextes vers d&rsquo;autres sites (partenaires, informations&hellip;), mis en place avec l&rsquo;autorisation de Hiked. Cependant, Hiked &nbsp;n&rsquo;a pas la possibilit&eacute; de v&eacute;rifier le contenu des sites ainsi visit&eacute;s, et d&eacute;cline donc toute responsabilit&eacute; de ce fait quand aux risques &eacute;ventuels de contenus illicites.</p>

<p>La navigation sur le site Hiked est susceptible de provoquer l&rsquo;installation de cookie(s) sur l&rsquo;ordinateur de l&rsquo;utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l&rsquo;identification de l&rsquo;utilisateur, mais qui enregistre des informations relatives &agrave; la navigation d&rsquo;un ordinateur sur un site. Les donn&eacute;es ainsi obtenues visent &agrave; faciliter la navigation ult&eacute;rieure sur le site, et ont &eacute;galement vocation &agrave; permettre diverses mesures de fr&eacute;quentation.</p>

<p>Le param&eacute;trage du logiciel de navigation permet d&rsquo;informer de la pr&eacute;sence de cookie et &eacute;ventuellement, de refuser de la mani&egrave;re d&eacute;crite &agrave; l&rsquo;adresse suivante : www.cnil.fr</p>

<p>Le refus d&rsquo;installation d&rsquo;un cookie peut entra&icirc;ner l&rsquo;impossibilit&eacute; d&rsquo;acc&eacute;der &agrave; certains services. L&rsquo;utilisateur peut toutefois configurer son ordinateur de la mani&egrave;re suivante, pour refuser l&rsquo;installation des cookies :</p>

<p>Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options internet. Cliquez sur Confidentialit&eacute; et choisissez Bloquer tous les cookies. Validez sur Ok.</p>

<p>Sous Firefox : en haut de la fen&ecirc;tre du navigateur, cliquez sur le bouton Firefox, puis aller dans l&rsquo;onglet Options. Cliquer sur l&rsquo;onglet Vie priv&eacute;e. Param&eacute;trez les R&egrave;gles de conservation sur : utiliser les param&egrave;tres personnalis&eacute;s pour l&rsquo;historique. Enfin d&eacute;cochez-la pour d&eacute;sactiver les cookies.</p>

<p>Sous Safari : Cliquez en haut &agrave; droite du navigateur sur le pictogramme de menu (symbolis&eacute; par un rouage). S&eacute;lectionnez Param&egrave;tres. Cliquez sur Afficher les param&egrave;tres avanc&eacute;s. Dans la section &laquo; Confidentialit&eacute; &raquo;, cliquez sur Param&egrave;tres de contenu. Dans la section &laquo; Cookies &raquo;, vous pouvez bloquer les cookies.</p>

<p>Sous Chrome : Cliquez en haut &agrave; droite du navigateur sur le pictogramme de menu (symbolis&eacute; par trois lignes horizontales). S&eacute;lectionnez Param&egrave;tres. Cliquez sur Afficher les param&egrave;tres avanc&eacute;s. Dans la section &laquo; Confidentialit&eacute; &raquo;, cliquez sur pr&eacute;f&eacute;rences. Dans l&rsquo;onglet &laquo; Confidentialit&eacute; &raquo;, vous pouvez bloquer les cookies.</p>

<p>La dur&eacute;e de validit&eacute; d&rsquo;un consentement de cookie est de 13 mois maximum.</p>

<p>Si vous supprimez tous les cookies enregistr&eacute;s sur votre terminal concernant nos sites, cela reviendra &agrave; r&eacute;initialiser votre consentement et vous devrez donc &agrave; nouveau refuser les cookies que vous ne souhaitez pas conserver.</p>

<p>De m&ecirc;me, si vous utilisez un autre navigateur Internet, vous devrez &agrave; nouveau refuser ces cookies car vos choix, comme les cookies auxquels ils se rapportent, d&eacute;pendent du navigateur et du terminal utilis&eacute; (ordinateur, tablette, smartphone) avec lequel vous naviguez sur notre site internet.</p>

<p>&nbsp;</p>

<p>9. Droit applicable et attribution de juridiction<br />
&nbsp;</p>

<p>Tout litige en relation avec l&rsquo;utilisation du site Hiked est soumis au droit fran&ccedil;ais. Il est fait attribution exclusive de juridiction aux tribunaux comp&eacute;tents de Paris.</p>

<p>&nbsp;</p>

<p>10. Les principales lois concern&eacute;es<br />
&nbsp;</p>

<p>Loi n&deg; 78-17 du 6 janvier 1978, notamment modifi&eacute;e par la loi n&deg; 2004-801 du 6 ao&ucirc;t 2004 relative &agrave; l&rsquo;informatique, aux fichiers et aux libert&eacute;s.</p>

<p>Loi n&deg; 2004-575 du 21 juin 2004 pour la confiance dans l&rsquo;&eacute;conomie num&eacute;rique.</p>

<p>&nbsp;</p>

<p>11. Lexique<br />
&nbsp;</p>

<p>Utilisateur : Internaute se connectant, utilisant le site susnomm&eacute;.</p>

<p>Informations personnelles : &laquo; les informations qui permettent, sous quelque forme que ce soit, directement ou non, l&rsquo;identification des personnes physiques auxquelles elles s&rsquo;appliquent &raquo; (article 4 de la loi n&deg; 78-17 du 6 janvier 1978).</p>

{% endblock %}
