{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="part" style="background-color: #F6ECC9;">

        <div class="titlebloc w-100 d-flex justify-content-center">
            <div class="pagetitle">Actualités</div>
        </div>
        <div class="pt-5 d-flex justify-content-center">
            <div class="blocred">
                <div class="container-fluid">
                    <div class="row">
                        <div class="p-2 col-4">
                        <img src="{{asset('images/image28.png')}}" style="width: 100%;height: 601px;">
                        </div>
                        <div class="col-8 p-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="pl-0 pt-2 col-8"><img src="{{asset('images/image25.png')}}" style="height:400px"></div>
                                    <div class="col-4">...</div>
                                    <div class="col-12">...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}